
<div class="container-fluid" style="position:relative;">

<form  class="needs-validation col-xs-6" method="post" action=<?php echo ROOT_PATH . "/contacto/consulta"?>>
<div class="form-group shadow-textarea">
    
            <label class="white" for="txt">Dinos en que podemos ayudarte</label>
            <textarea name="contacto-help" class="form-control z-depth-1" id="txt" rows="4" placeholder="Cuentanos como podemos ayudarte!"></textarea>
        </div>
        <div class="input-group horarios"  style="width:75%;">
                <span class="input-group-addon" id="basic-addon1">email</span>
                <input type="email" name="email" class="form-control" style="width:200px;" aria-describedby="basic-addon1" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>

