<div class="container-fluid text-center" style="position:relative;color:white;width: 50%;">



<h1>Cerventum</h1>

<p class="text-justify" >Cerventum es una pagina para encontrar ofertas de cervecerias, 
ademas podes registrar tu cerveceria registrandote y completando el formulario de registro en simples pasos.<br />

Siendo un usuario dueño de cerveceria podras subir tus propias ofertas!!

</p>

<h1>¿Quienes somos?</h1>

<p  class="text-justify"  >Somos un grupo de estudiantes de la Universidad Tecnologica de Rosario y nuestro principal objetivo es centralizar las cervecerias disponibles

con los horarios, ofertas y reservas, todo desde el mismo lugar y de la manera mas sencilla.</p>

</div>