<div class="container-fluid" style="position:relative;color:white;">

<h1>Cerventum</h1>
<p>Cerventum es una pagina para encontrar ofertas de cervecerias y realizar reservas.<br>
Ademas podes registrar tu cerveceria registrandote y completando el formulario de registro en simples pasos.
</p>
<h1>¿Quienes somos?</h1>
<p>Somos un grupo de estudiantes de la Universidad Tecnologica de Rosario y nuestro principal objetivo es centralizar las cervecerias disponibles
con los horarios, ofertas y reservas, todo desde el mismo lugar y de la manera mas sencilla</p>
</div>