<div class="container-fluid" style="position:relative;top:100px;">
    <div align="center">
            <h1 style="color:white" class="display-1">Registrate!</h1>
            <p style="color: lightgrey">Es gratis.</p>
    </div>
    <form method="post"  action="../registra/usuario" class="needs-validation">
        <div class="col-md-4 col-md-offset-4">
            <br>           
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Nombre</span>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" required>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Apellido</span>
                <input type="text" name="apellido" class="form-control" placeholder="Apellido" aria-describedby="basic-addon2" required>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">@</span>
                <input type="text" name="email" class="form-control" placeholder="Email" aria-describedby="basic-addon3" required>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">Usuario</span>
                <input type="text" name="usuario" class="form-control" placeholder="Usuario" aria-describedby="basic-addon4" required>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon5">Contraseña</span>
                <input type="password" name="contraseña" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon5" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Crear cuenta</button>
        </div>
    </form>
</div>




