<li><a href="<?php echo(ROOT_PATH . '/home/dashboard')?>">Inicio</a></li>
<li  class="dropdown show"><a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="off-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Ofertas</a>
						
						<div class="dropdown-menu" aria-labelledby="off-menu">
						<a class="dropdown-item" href="<?php echo(ROOT_PATH . '/ofertas/listarOfertas')?>">Gestionar Ofertas</a>
						<a class="dropdown-item" href="<?php echo(ROOT_PATH . '/ofertas/crearOferta')?>">Crear Ofertas</a>
						</div>
					</li>					
</li>
<li><a href="<?php echo(ROOT_PATH . '/cerveceria/misdatos')?>">Mis datos</a></li>
<li><a href="<?php echo(ROOT_PATH . '/cerveceria/cerrarporeldia')?>">Hoy cerrado</a></li>